<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a New Company</title>
</head>
<body>
    <form th:action="@{/company}" method="POST" th:object="${company}">
        <table>
            <tr>
                <td>MA_CT: </td>
                <td><input type="text" th:field="*{MA_CT}"></td>
            </tr>
            <tr>
                <td>TEN_CT: </td>
                <td><input type="text" th:field="*{TEN_CT}"></td>
            </tr>
            <tr>
                <td>MST: </td>
                <td><input type="text" th:field="*{MST}"></td>
            </tr>
            <tr>
                <td>LINH_VUC: </td>
                <td><input type="text" th:field="*{LINH_VUC}"></td>
            </tr>
            <tr>
                <td>DIA_CHI: </td>
                <td><input type="text" th:field="*{DIA_CHI}"></td>
            </tr>
            <tr>
                <td>SDT: </td>
                <td><input type="text" th:field="*{SDT}"></td>
            </tr>
            <tr>
                <td>SO_NV: </td>
                <td><input type="text" th:field="*{SO_NV}"></td>
            </tr>
            <tr>
                <td>DIEN_TICH: </td>
                <td><input type="text" th:field="*{DIEN_TICH}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>