<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Services</title>
</head>
<body>
    <form th:action="@{/services/update}" method="POST" th:object="${company}">
        <table>
            <tr>
                <td>MA_CT: </td>
                <td><input type="text" th:value="*{MA_CT}" th:field="*{MA_CT}" readonly></td>
            </tr>
            <tr>
                <td>TEN_CT: </td>
                <td><input type="text" th:value="*{TEN_CT}" th:field="*{TEN_CT}"></td>
            </tr>
            <tr>
                <td>MST: </td>
                <td><input type="text" th:value="*{MST}" th:field="*{MST}"></td>
            </tr>
            <tr>
                <td>LINH_VUC: </td>
                <td><input type="text" th:value="*{LINH_VUC}" th:field="*{LINH_VUC}"></td>
            </tr>
            <tr>
                <td>DIA_CHI: </td>
                <td><input type="text" th:value="*{DIA_CHI}" th:field="*{DIA_CHI}"></td>
            </tr>
            <tr>
                <td>SDT: </td>
                <td><input type="text" th:value="*{SDT}" th:field="*{SDT}"></td>
            </tr>
            <tr>
                <td>SO_NV: </td>
                <td><input type="text" th:value="*{SO_NV}" th:field="*{SO_NV}"></td>
            </tr>
            <tr>
                <td>DIEN_TICH: </td>
                <td><input type="text" th:value="*{DIEN_TICH}" th:field="*{DIEN_TICH}"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>