<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Footer</title>-->
<!--    &lt;!&ndash; Import thu vien &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->
<!--    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">-->
<!--    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">-->
<!--</head>-->
<!--<body>-->
    <!-- FOOTER -->
    <footer class="sticky-footer bg-white" th:fragment="footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Website 2020 design by team TTD</span>
            </div>
        </div>
    </footer>
<!--    &lt;!&ndash; Import JS &ndash;&gt;-->
<!--    <script th:src="@{vendor/jquery/jquery.min.js}"></script>-->
<!--    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>-->
<!--    <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>-->
<!--    <script th:src="@{js/sb-admin-2.min.js}"></script>-->
<!--</body>-->
</html>